doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Document
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    body
        ul.nav.nav-pills.bg-secondary.p-1.mb-5
            li.nav-item
                a.nav-link.active(href='/users') Home
            li.nav-item
                a.nav-link(href='/users') user
            li.nav-item
                a.nav-link(href='/product') Product
            //- li.nav-item
            //-     a.nav-link(href='/cart') Cart
            li.row.ml-auto.mr-3
                if user
                    img.nav-link(src=user.avatar, width='56')
                    a.nav-link= user.userName
        .container
            block content
