extends ../layout

block content
    h1 Add Product

    if errors
        each erro in errors
            .alert.alert-danger= erro

    form(action="/product/addProduct", method='POST' enctype='multipart/form-data')

        p.mb-1 Name
        input(type="text", name='proName', value = values ? values.proName: "")

        p.mb-1.mt-3 Content
        textarea(name='proContent', rows='5', cols='50')= values ? values.proContent: ""

        p.mb-1.mt-3 Price
        input(type="text", name='proPrice', value = values ? values.proPrice: "")

        p.mb-1.mt-3 ID
        select(name="proId")
            option(value="iphone") Iphone
            option(value="samsung") Samsung
            option(value="xiaomi") Xiaomi
            option(value="oppo") Oppo
            option(value="huawei") Huawei
            option(value="vivo") Vivo

        p.mb-1.mt-3 Avatar
        input(type="file", name='avatar', value = values ? values.avatar: "")
        br
        br
        button.btn.btn-primary.pl-4.pr-4 Add Product