extends ../layout

block content
    h1 View Product Category

    b Product Name:&nbsp
    span #{product.proName}
    br
    b Product Content:&nbsp
    span #{product.proContent}
    br
    b Product Price:&nbsp
    span #{product.proPrice}
    br
    b Product Type:&nbsp
    span #{product.proId}